# Grouping Data and Aggregating Variables

In [2]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [12]:
# finding out what version of pandas is in use
print(pd.__version__)

2.2.2

In [14]:
# updating pandas
!pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\lisag\anaconda3\lib\site-packages (2.2.2)
Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lisag\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lisag\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lisag\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lisag\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\lisag\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ----------- ---------------------------- 3.4/11.5 MB 18.3 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.5 MB 23.8 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 22.5 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
Successfully installed pandas-2.2.3

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\lisag\anaconda3\Lib\site-packages\~andas'.
  You can safely remove it manually.

In [16]:
# turns out it was already up to date
print(pd.__version__)

2.2.2

In [18]:
# testing groupby() functions
test_df = pd.DataFrame({
    'product_name': ['A', 'B', 'A', 'C'],
    'value': [10, 15, 10, 20]
})

In [20]:
result = test_df.groupby('product_name').sum()
print(result)

              value
product_name
A                20
B                15
C                20

In [3]:
# create a path shortcut
path = r'C:\Users\lisag\Desktop\CF Work\Immersion 4 Tasks\Instacart (IC) Basket Analysis'

In [4]:
# import orders and products data set
df_ords_prods_merge =  pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_new_columns.pkl'))

In [5]:
# limiting dataframe to first 1,000,000 rows
df = df_ords_prods_merge[:1000000]

In [6]:
df.shape

(1000000, 18)

In [7]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_24hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
31795466,2,202279,3,5,9,8.0,1819,8,1,All Natural No Stir Creamy Almond Butter,88,13,11.5,both,Mid-range product,Regularly busy,Regularly busy days,Most orders
31795465,2,202279,3,5,9,8.0,40141,7,1,Original Unflavored Gelatine Mix,105,13,11.5,both,Mid-range product,Regularly busy,Regularly busy days,Most orders
31795459,2,202279,3,5,9,8.0,33120,1,1,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regularly busy days,Most orders
31795464,2,202279,3,5,9,8.0,17794,6,1,Carrots,83,4,10.7,both,Mid-range product,Regularly busy,Regularly busy days,Most orders
31795460,2,202279,3,5,9,8.0,28985,2,1,Michigan Organic Kale,83,4,13.4,both,Mid-range product,Regularly busy,Regularly busy days,Most orders

In [30]:
# rename product_name column
df = df.rename(columns={'product_name': 'prod_name'})

In [74]:
# group dataframe by prod_name
grouped = df.groupby('prod_name')

In [36]:
grouped.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_24hour,days_since_prior_order,product_id,add_to_cart_order,reordered,prod_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
31795466,2,202279,3,5,9,8.0,1819,8,1,All Natural No Stir Creamy Almond Butter,88,13,11.5,both,Mid-range product,Regularly busy,Regularly busy days,Most orders
31795465,2,202279,3,5,9,8.0,40141,7,1,Original Unflavored Gelatine Mix,105,13,11.5,both,Mid-range product,Regularly busy,Regularly busy days,Most orders
31795459,2,202279,3,5,9,8.0,33120,1,1,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regularly busy days,Most orders
31795464,2,202279,3,5,9,8.0,17794,6,1,Carrots,83,4,10.7,both,Mid-range product,Regularly busy,Regularly busy days,Most orders
31795460,2,202279,3,5,9,8.0,28985,2,1,Michigan Organic Kale,83,4,13.4,both,Mid-range product,Regularly busy,Regularly busy days,Most orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24114497,105702,153202,2,1,13,30.0,20321,1,0,Peppermint African Black Soap Body Wash,25,11,2.5,both,Low-range product,Regularly busy,Two busiest days,Most orders
24114503,105702,153202,2,1,13,30.0,13939,7,0,Organic Potato Quinoa & Spinach Soup,69,15,2.4,both,Low-range product,Regularly busy,Two busiest days,Most orders
29336592,105705,186497,24,6,20,1.0,24558,4,0,Strawberry Snickerdoole Ice Cream Sandwiches,37,1,11.5,both,Mid-range product,Regularly busy,Regularly busy days,Average orders
14963083,105716,94790,19,4,22,7.0,21102,8,1,Arbosana Extra Virgin Olive Oil,19,13,13.9,both,Mid-range product,Least busy,Two least busy days,Average orders
32103665,105717,204253,29,6,1,8.0,33305,11,1,Brooklyn Blackout Cake Ice Cream,37,1,6.9,both,Mid-range product,Regularly busy,Regularly busy days,Fewest orders

In [24]:
# show column names
print(df.columns.tolist())

['order_id', 'user_id', 'order_number', 'orders_day_of_week', 'order_time_24hour', 'days_since_prior_order', 'product_id', 'add_to_cart_order', 'reordered', 'product_name', 'aisle_id', 'department_id', 'prices', '_merge', 'price_range_loc', 'busiest_day', 'busiest_days', 'busiest_period_of_day']

In [ ]:
print(df['product_name'].dtype)

In [38]:
# group department and average number of orders
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.632538
2                18.463588
3                17.393945
4                17.987765
5                14.406216
6                16.521620
7                17.414215
8                16.041537
9                16.085128
10               21.290293
11               16.496514
12               16.089872
13               16.786959
14               16.900691
15               16.446757
16               17.816300
17               16.076183
18               19.197182
19               17.406295
20               16.678997
21               23.262204

In [40]:
# group department and average number of orders
df.groupby('department_id')['order_number'].mean()

department_id
1     15.632538
2     18.463588
3     17.393945
4     17.987765
5     14.406216
6     16.521620
7     17.414215
8     16.041537
9     16.085128
10    21.290293
11    16.496514
12    16.089872
13    16.786959
14    16.900691
15    16.446757
16    17.816300
17    16.076183
18    19.197182
19    17.406295
20    16.678997
21    23.262204
Name: order_number, dtype: float64

In [42]:
# group department and average, minimum, and maximum number of orders
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.632538   1  99
2                18.463588   1  97
3                17.393945   1  99
4                17.987765   1  99
5                14.406216   1  99
6                16.521620   1  99
7                17.414215   1  99
8                16.041537   1  96
9                16.085128   1  99
10               21.290293   1  99
11               16.496514   1  99
12               16.089872   1  99
13               16.786959   1  99
14               16.900691   1  99
15               16.446757   1  99
16               17.816300   1  99
17               16.076183   1  99
18               19.197182   1  99
19               17.406295   1  99
20               16.678997   1  99
21               23.262204   1  98

In [46]:
# create a new max_order column for most orders by specified customer
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\lisag\AppData\Local\Temp\ipykernel_5648\136815596.py:1: FutureWarning: The provided callable <function max at 0x000001E09BEBE160> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [48]:
df_ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_time_24hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
31795466,2,202279,3,5,9,8.0,1819,8,1,All Natural No Stir Creamy Almond Butter,88,13,11.5,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8
31795465,2,202279,3,5,9,8.0,40141,7,1,Original Unflavored Gelatine Mix,105,13,11.5,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8
31795459,2,202279,3,5,9,8.0,33120,1,1,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8
31795464,2,202279,3,5,9,8.0,17794,6,1,Carrots,83,4,10.7,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8
31795460,2,202279,3,5,9,8.0,28985,2,1,Michigan Organic Kale,83,4,13.4,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8
31795467,2,202279,3,5,9,8.0,43668,9,0,Classic Blend Cole Slaw,123,4,7.5,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8
31795462,2,202279,3,5,9,8.0,45918,4,1,Coconut Butter,19,13,8.4,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8
31795461,2,202279,3,5,9,8.0,9327,3,0,Garlic Powder,104,13,3.6,both,Low-range product,Regularly busy,Regularly busy days,Most orders,8
31795463,2,202279,3,5,9,8.0,30035,5,0,Natural Sweetener,17,13,13.7,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8
32369430,3,205970,16,5,17,12.0,17461,7,1,Air Chilled Organic Boneless Skinless Chicken ...,35,12,9.1,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,25
32369425,3,205970,16,5,17,12.0,24838,2,1,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,25
32369424,3,205970,16,5,17,12.0,33754,1,1,Total 2% with Strawberry Lowfat Greek Strained...,120,16,11.8,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,25
32369426,3,205970,16,5,17,12.0,17704,3,1,Lemons,123,4,10.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,25
32369431,3,205970,16,5,17,12.0,32665,8,1,Organic Ezekiel 49 Bread Cinnamon Raisin,112,3,12.4,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,25
32369427,3,205970,16,5,17,12.0,21903,4,1,Organic Baby Spinach,123,4,8.2,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,25

In [52]:
# create criteria for customer loyalty flags
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [54]:
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [56]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [58]:
# find value counts of customer loyalty categories
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [70]:
# sort dataframe by user_id then loyalty_flag then order_number
df_ords_prods_merge_sorted = df_ords_prods_merge.sort_values(
    by=['user_id', 'loyalty_flag', 'order_number'],
    ascending=[True, False, False]
)

In [71]:
# quality check
df_ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

          user_id      loyalty_flag  order_number
31795466   202279      New customer             3
31795465   202279      New customer             3
31795459   202279      New customer             3
31795464   202279      New customer             3
31795460   202279      New customer             3
31795467   202279      New customer             3
31795462   202279      New customer             3
31795461   202279      New customer             3
31795463   202279      New customer             3
32369430   205970  Regular customer            16
32369425   205970  Regular customer            16
32369424   205970  Regular customer            16
32369426   205970  Regular customer            16
32369431   205970  Regular customer            16
32369427   205970  Regular customer            16
32369428   205970  Regular customer            16
32369429   205970  Regular customer            16
28063844   178520    Loyal customer            36
28063837   178520    Loyal customer            36
28063845   178520    Loyal customer            36
28063841   178520    Loyal customer            36
28063847   178520    Loyal customer            36
28063848   178520    Loyal customer            36
28063840   178520    Loyal customer            36
28063846   178520    Loyal customer            36
28063849   178520    Loyal customer            36
28063839   178520    Loyal customer            36
28063838   178520    Loyal customer            36
28063842   178520    Loyal customer            36
28063843   178520    Loyal customer            36
24569058   156122    Loyal customer            42
24569034   156122    Loyal customer            42
24569050   156122    Loyal customer            42
24569045   156122    Loyal customer            42
24569047   156122    Loyal customer            42
24569033   156122    Loyal customer            42
24569055   156122    Loyal customer            42
24569049   156122    Loyal customer            42
24569039   156122    Loyal customer            42
24569054   156122    Loyal customer            42
24569036   156122    Loyal customer            42
24569037   156122    Loyal customer            42
24569044   156122    Loyal customer            42
24569038   156122    Loyal customer            42
24569043   156122    Loyal customer            42
24569046   156122    Loyal customer            42
24569053   156122    Loyal customer            42
24569048   156122    Loyal customer            42
24569057   156122    Loyal customer            42
24569035   156122    Loyal customer            42
24569051   156122    Loyal customer            42
24569042   156122    Loyal customer            42
24569052   156122    Loyal customer            42
24569040   156122    Loyal customer            42
24569041   156122    Loyal customer            42
24569056   156122    Loyal customer            42
3491966     22352      New customer             4
3491967     22352      New customer             4
3491968     22352      New customer             4
22480786   142903  Regular customer            11